@import './opacity.scss';

$text-color: #000000;
$white-color: #ffffff;
$error-color: #eb6767;
$footer-back-color: dimgray; 
$footer-text-color: #FFB273;
$element-color: rgba($text-color, $opacity-05);
$line-color: #e8e8e8;