@import '../styles.scss';

.root{
    
}

.icon {
    height: 50px;
}

.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-item{
    margin: 0 0 $gutter-8 $gutter-8;
}
