@import '../styles.scss';

.root{
    
}

.icon {
    height: 50px;
}

.button-group{
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-item{
    margin-left: $gutter-8;
}
