@import '../../styles.scss';

.root{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer{
  border-top: 1px solid $line-color;
  height: 24px;
  background: $element-color;
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


