@import '../../styles.scss';

.root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}

.search{
  display: flex;
  align-items: center;
  margin: $gutter-24 $gutter-12;
  width:65%;
  input {
    margin-right: $gutter-4;
  }
}